.form-control {
  max-width: 45%;

}

#results {
  display: none;
}
body{
  background-color: grey;
}
body h1{
  font-size: 30px;
  font-weight: bold;
}
#results2{
  display: none;
}
#results3{
  display: none;
}
img{
  width: 250px;
  height: auto;
  float: right;

}
